{% extends "base.html" %}

{% block content %}
{% load materializecss %}

<h3 class="center">Listado de Adelantos de Sueldo</h3>
<div class="divider"></div>

{% if 'ok' in request.GET %}
<div class="row">
    <ul class="collection green-border-color col s12 xl10 offset-xl1">
        <li class="collection-item s12 xl12 green-text">
            <span class="badge">
                <i class="material-icons green-text">check_box</i>
            </span>
            Adelanto Creado con Éxito!
        </li>
    </ul>
</div>
{% elif 'up' in request.GET %}
<div class="row">
    <ul class="collection blue-border-color col s12 xl10 offset-xl1">
        <li class="collection-item s12 xl12 blue-text">
            <span class="badge">
                <i class="material-icons blue-text">check_box</i>
            </span>
            Adelanto Modificado con Éxito!
        </li>
    </ul>
</div>
{% elif 'del' in request.GET %}
<div class="row">
    <ul class="collection orange-border-color col s12 xl10 offset-xl1">
        <li class="collection-item s12 xl12 orange-text">
            <span class="badge">
                <i class="material-icons orange-text">check_box</i>
            </span>
            Adelanto Eliminado con Éxito!
        </li>
    </ul>
</div>
{% endif %}

{% include 'pagination.html' %}
<div class="row center">
    <div class="col s12 xl12">
        <table class="highlight centered">
            <thead>
                <th>Empleado</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Modificar/Eliminar</th>
            </thead>
            <tbody>
                {% for adelanto in page_obj %}
                <tr>
                    <td>{{ adelanto.empleado | title | truncatechars:30}}</td>
                    <td>${{ adelanto.monto_pagado }}</td>
                    <td>{{ adelanto.fecha_pago | date:"d/m/Y"}}</td>
                    <td>
                        <a class="btn-small" href="{% url 'gastos:update_adelantoSueldo' adelanto.id%}"><i class="material-icons">edit</i></a>
                        <a class="btn-small red" href="{% url 'gastos:delete_adelanto_sueldo' adelanto.id %}"><i class="material-icons">cancel</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'pagination.html' %}
<div class="row center">
    <a class="col s12 xl12 btn-large green" href="{% url 'gastos:create_adelantoSueldo' %}">Adelantar Sueldo</a>
</div>

<div class="row center">
    <a class="col s12 xl12 btn-large" href="{% url 'home' %}">Volver</a>
</div>

{% endblock %}
