{% extends "base.html" %}

{% block content %}
{% load materializecss %}

<h3 class="center">Formulario Tipo de Producto</h3>
<div class="divider"></div>


<form method="post" id="form">{% csrf_token %}
    <div class="row center">
        {{ form.tipo | materializecss:'s12 xl5 offset-xl1' }}
        {{ form.descripcion | materializecss:'s12 xl5' }}
    </div>
        <div class="row">
            <button class="btn col s12 offset-xl1 xl2" type="submit"><i class="material-icons icon-align">check</i> Agregar</button><div class="col s2"></div>
            <a class="btn red col s12 offset-xl6 xl2" href="{% url 'productos:index' %}"><i class="material-icons icon-align">cancel</i> Cancelar</a>
        </div>
</form>

<style>
    .collection.green-border-color {
        border-color: #4CAF50 !important;
    }
    .collection.orange-border-color {
        border-color: #FF9800 !important;
    }
</style>

{% endblock %}

{% block javascript %}
    <script>
    </script>
{% endblock %}
